    *{
        margin:0;
        padding:0;
        box-sizing: border-box;
    }
    html, body{
        height: 100%;
        background-color: #000000;
        color: #ffd700;
        margin: 0;
    }
    body{
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        box-sizing: border-box;
        overflow-x:hidden ;
        outline-offset: -2px; 
        box-sizing: border-box;
    }
    main {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%; 
    }
    .sobre-nosotros {
    background-color: #111; 
    padding: 60px 10%;
    text-align: center;
    }
    .titulo-seccion {
    color: #ffffff;
    font-size: 2.0rem;
    margin-bottom: 10px;
    text-transform: uppercase;
    }
    .divider {
    width: 80px;
    height: 3px;
    background-color: #ffd700;
    margin: 0 auto 40px;
    }
    .grid-nosotros {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    }
    .tarjeta-nosotros {
    background-color: #1a1a1a;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid #333;
    transition: 0.4s;
    }

    .tarjeta-nosotros:hover {
    border-color: #ffd700;
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(255, 215, 0, 0.1);
    }

    .tarjeta-nosotros i {
    color: #ffd700;
    font-size: 3rem;
    margin-bottom: 20px;
    }

    .tarjeta-nosotros h3 {
    color: #fff;
    margin-bottom: 15px;
    }

    .tarjeta-nosotros p {
    color: #ccc;
    line-height: 1.6;
    font-size: 0.95rem;
    }

    footer{
        background-color: #1a1a1a;
        padding: auto 0;
        text-align: center;
        border-top: 2px solid #ffd700;
        margin: 10px 0;
        font-size: 0.8rem;
        opacity: 0.9;
    }
    footer a{
        color:#949494;
        text-decoration: none;
        transition: 0.3s;
    }
    footer a:hover{
        color: white;
        text-decoration: underline;
    }
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 5%;
        background-color: #1a1a1a;
        border-bottom: 2px solid #ffd700;
    }
    .logo-container{
        display: flex;
        align-items: center;
        text-decoration: none;
        gap: 15px;
    }
    .logo-img{
        height: 80px;
        width: auto;
        object-fit: contain;
    }
    .logo-text{
        color:#FFD700;
        font-size: 1.5rem;
        font-weight: bold;
    }
    .menu a{
        color: white;
        text-decoration: none;
        margin-left: 30px;
        font-size: 1.1rem;
        transition: 0.3;
    }
    .menu a:hover{
        color:#ffd700;
        text-shadow: 0 0 10px rgba(255, 215, 0, 0.5);
    }
    .swiper-hero {
    width: 100%;
    height: calc(100vh - 120px) !important; 
    margin: 0;
    overflow: hidden; 
    position: relative;
    background-color: #000;
    border-radius: 10px; 
    box-sizing: border-box;
    }
    .swiper-wrapper{
        display: flex;
    }
    .swiper-slide {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    align-items: center;
    }
    .swiper-slide p {
    position: absolute;
    bottom: 50px; 
    background: rgba(0, 0, 0, 0.6);
    color: #ffd700;
    padding: 20px;
    width: 80%;
    border-radius: 10px;
    z-index: 10;
    }
    .swiper-slide video, .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center;
    }   
    .btn-contacto {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    font-size: 1.1rem;
    margin: 10px;
    transition: 0.3s;
    }
    .btn-whatsapp i {
    color: #25d366;
    font-size: 25px;
    }
    .btn-whatsapp span {
    color: #ffffff;
    }
    .btn-telefono i {
    color: #206eff;
    font-size: 22px;
    }
    .btn-telefono span {
    color: #ffffff;
    }

    .btn-correo i {
    color: #e0e0e0;
    font-size: 22px;
    }

    .btn-correo span {
    color: #ffffff;
    }
    .contact-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    }